body {
  padding: 20px;
}

img {
  width: 200px;
  height: 200px;
}

.card-one {
  color: DBA979;
  box-sizing: border-box;
  border: 2px solid #dba979;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.card-two {
  box-sizing: border-box;
  border: 2px solid #dba979;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  padding: 20px;
}

#image-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
